---
extends: default

ignore: |
  resources/
  .github/
  flux/clusters/*/flux-system/

# TODO
rules:
  new-line-at-end-of-file:
    level: warning
  line-length:
    level: warning
  braces:
    min-spaces-inside: 1
    max-spaces-inside: 1